body{
    background: #EAEBEF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container__users{
    width: 700px;
    height: 500px;
    background-color: #fff;
    border: 1px solid #0087ff;
    border-radius: 10%;
    padding: 1em;
    display: flex;
    gap: 1em;
    position: relative;
    justify-content: center;
    align-items: center;
}

.img__user{
    display:flex;
    margin-bottom: 60px;
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
    gap: 4em;
}

.hero__cta{
    display: grid;
    grid-area: 1em;
    text-decoration: none;
    color: #0087ff;
    padding: 15px 60px;
    border: 1px solid;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color .3s;
}

.hero__cta:hover{
    background-color: #0087ff;
    color: #fff;
}

.hero__img{
    width: 100%;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__img{
    display: flex;
    position: relative;
    width: 90%;
    max-width: 300px;
}

.modal__title{
    font-size: 1.5rem;
    color: #0087ff;
}

.div__container{
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    gap: 1em;
}
.modal__label{
    color: #0087ff;
}

.modal__input{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #03A9F4;
    text-decoration: none;
    border: none;
    outline: none;
}

.modal__paragraph{
    margin-bottom: 10px;
}

.modal__select{
    color: #03A9F4;
    outline: none;
}

.modal__select:hover{
    color: #0060DF;
    background-color: #fff;
    transition: .5s;
    outline: none;
}


.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: #0087ff;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover{
    color: #0087ff;
    background-color: #fff;
}