<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/modal_style.css">
    <link rel="stylesheet" href="../../assets/webfonts/fonts.css">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <title>Usuarios</title>
</head>
<body>
  <div class="container__form__usuarios">
      <img src="../../assets/img/Developer.svg" class="img__usuario">
        <div class="">
            <form action="" class="form__action">
                <label for="" class="label__usuario">Nombre:
                    <input type="text" placeholder="Nombres" class="input__usuario">
                </label>
                <label for="" class="label__usuario">Apellidos:
                    <input type="text" placeholder="Apellidos" class="input__usuario">
                </label>
                <label for="" class="label__usuario">Correo:
                    <input type="text" placeholder="Correo" class="input__usuario">
                </label>
                <label for="" class="label__usuario">Telefeno:
                    <input type="text" placeholder="Telefono" class="input__usuario">
                </label>
                <label for="" class="label__usuario">Tipo de documento:
                    <select type="text" class="select__usuario">
                        <option value="NIT">NIT</option>
                        <option value="C.C">CC</option>
                        <option value="TI">TI</option>
                        <option value="PAP">PAP</option>   
                    </select>
                </label>
                <label for="" class="label__usuario">Genero:
                    <select type="text" class="select__usuario">
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="No definido">No definido</option>
                    </select>
                </label>       
            </form>
        </div>
        <input type="button" value="submit" class="button__usuarios">
    </div>
    <script src="../../assets/js/modal_usuario.js"></script>
</body>
</html>
</body>
</html>