<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/webfonts/fonts.css">
    <title>SAIA</title>
</head>
<body>

    <nav class="nav__menu__lateral">
        <ul class="list__menu__lateral">
            <div class="div__logo__menu__lateral">
                <a href=""><img src="../../assets/img/logoSAIA.png" class="logo__menu__lateral"></a>
            </div>
            <div class="div__menu__lateral">
                <li class="list__items__menu__lateral">
                    <div class="list__button__menu__lateral list__button--click">
                        <img src="../../assets/img/shapes.svg" class="list__img icons">
                        <a href="inframe" class="nav__link__menu__lateral">Usuarios</a>
                        <!-- <img src="../../assets/img/arrow.svg" class="list__arrow__menu__lateral icons">
                        
                    </div>
                    <ul class="list__show__menu__lateral">
                        <li class="list__inside__menu__lateral">
                            <a href="" class="nav__link__menu__lateral nav__link--inside">Registrar</a>
                        </li>
                        <li class="list__inside__menu__lateral">
                            <a href="" class="nav__link__menu__lateral nav__link--inside">Actualizar</a>
                        </li>
                        <li class="list__inside__menu__lateral">
                            <a href="" class="nav__link__menu__lateral nav__link--inside">Consultar</a>
                        </li>
                    </ul> -->
                </li>

                <li class="list__items__menu__lateral">
                    <div class="list__button__menu__lateral list__button--click">
                        <img src="../../assets/img/ingreso.svg" class="list__img__menu__lateral icons">
                        <a href="#" class="nav__link__menu__lateral">Entrada</a>
                        <img src="../../assets/img/arrow.svg" class="list__arrow__menu__lateral icons">
                    </div>

                    <ul class="list__show__menu__lateral">
                        <li class="list__inside__menu__lateral">
                            <a href="" class="nav__link__menu__lateral nav__link--inside">Insumos</a>
                        </li>
                        <li class="list__inside__menu__lateral">
                            <a href="" class="nav__link__menu__lateral nav__link--inside">Herramienta</a>
                        </li>
                        <li class="list__inside__menu__lateral">
                            <a href="" class="nav__link__menu__lateral nav__link--inside">Partes</a>
                        </li>
                    </ul>
                </li>

                <li class="list__items__menu__lateral">
                    <di class="list__button__menu__lateral">
                        <img src="../../assets/img/box.svg" class="list__img__menu__lateral icons">
                        <a href="#" class="nav__link__menu__lateral">Almacen</a>
                    </di>
                </li>

                <li class="list__items__menu__lateral">
                    <div class="list__button__menu__lateral list__button--click">
                        <img src="../../assets/img/salida.svg" class="list__img__menu__lateral icons">
                        <a href="#" class="nav__link__menu__lateral">Salida</a>
                        <img src="../../assets/img/arrow.svg" class="list__arrow__menu__lateral icons">
                    </div>

                    <ul class="list__show__menu__lateral">
                        <li class="list__inside__menu__lateral">
                            <a href="" class="nav__link__menu__lateral nav__link--inside">En servicio</a>
                        </li>
                        <li class="list__inside__menu__lateral">
                            <a href="" class="nav__link__menu__lateral nav__link--inside">Venta</a>
                        </li>
                        <li class="list__inside__menu__lateral">
                            <a href="" class="nav__link__menu__lateral nav__link--inside">Suministro</a>
                        </li>
                    </ul>
                </li>

                <li class="list__items__menu__lateral">
                    <di class="list__button__menu__lateral">
                        <img src="../../assets/img/estadisticas.svg" class="list__img__menu__lateral">
                        <a href="#" class="nav__link__menu__lateral">Estadisticas</a>
                    </di>
                </li>
            </div>
        </ul>
    </nav>
    <div class="embed-container__menu__lateral">
        <iframe src="menu.html" id="iframe"></iframe>
    </div>
</body>
<footer>
    <script src="../../assets/js/mainsidebar.js"></script>
    <script src="../../assets/js/modal_usuario.js"></script>
</footer>
</html>