<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="stylesheet" href="/assets/webfonts/fonts.css">
    <title>SAIA</title>
</head>
<body>

    <nav class="nav">
        <a href=""><img src="/assets/img/logoSAIA.png" class="logo"></a>
        <ul class="list">
            <li class="list__items">
                <div class="list__button list__button--click">
                    <img src="/assets/img/shapes.svg" class="list__img icons">
                    <a href="#" class="nav__link">Usuarios</a>
                    <img src="/assets/img/arrow.svg" class="list__arrow icons">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="" class="nav__link nav__link--inside">Registrar</a>
                    </li>
                    <li class="list__inside">
                        <a href="" class="nav__link nav__link--inside">Actualizar</a>
                    </li>
                    <li class="list__inside">
                        <a href="" class="nav__link nav__link--inside">Eliminar</a>
                    </li>
                </ul>
            </li>

            <li class="list__items">
                <div class="list__button list__button--click">
                    <img src="/assets/img/ingreso.svg" class="list__img icons">
                    <a href="#" class="nav__link">Entrada</a>
                    <img src="/assets/img/arrow.svg" class="list__arrow icons">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="" class="nav__link nav__link--inside">Insumos</a>
                    </li>
                    <li class="list__inside">
                        <a href="" class="nav__link nav__link--inside">Herramienta</a>
                    </li>
                    <li class="list__inside">
                        <a href="" class="nav__link nav__link--inside">Partes</a>
                    </li>
                </ul>
            </li>

            <li class="list__items">
                <di class="list__button">
                    <img src="/assets/img/box.svg" class="list__img icons">
                    <a href="#" class="nav__link">Almacen</a>
                </di>
            </li>

            <li class="list__items">
                <div class="list__button list__button--click">
                    <img src="/assets/img/salida.svg" class="list__img icons">
                    <a href="#" class="nav__link">Salida</a>
                    <img src="/assets/img/arrow.svg" class="list__arrow icons">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="" class="nav__link nav__link--inside">En servicio</a>
                    </li>
                    <li class="list__inside">
                        <a href="" class="nav__link nav__link--inside">Venta</a>
                    </li>
                    <li class="list__inside">
                        <a href="" class="nav__link nav__link--inside">Suministro</a>
                    </li>
                </ul>
            </li>

            <li class="list__items">
                <di class="list__button">
                    <img src="/assets/img/estadisticas.svg" class="list__img icons">
                    <a href="#" class="nav__link">Estadisticas</a>
                </di>
            </li>

        </ul>
    </nav>
</body>
<footer>
    <script src="/assets/js/mainsidebar.js"></script>
</footer>
</html>