<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/webfonts/fonts.css">
</head>
<body>
    <div class="table__menu">
        <div class="menu__element">
            <img src="../../assets/img/users.svg" class="img__user">
            <p class="menu__name">Usuario</p>
            <a href="../modules/usuario.html" class="menu__cta">Abrir</a>
        </div>
        

        <div class="menu__element">
            <img src="../../assets/img/Inventario.svg" class="img__user">
            <p class="menu__name">Almacen</p>
            <a href="#" class="menu__cta">Abrir</a>
        </div>
        
        <div class="menu__element">
            <img src="../../assets/img/Reposrtes.svg" class="img__user">
            <p class="menu__name">Reportes</p>
            <a href="#" class="menu__cta">Abrir</a>
        </div>
        <div class="menu__element">
            <img src="../../assets/img/ventas.svg" class="img__user">
            <p class="menu__name">Ventas</p>
            <a href="#" class="menu__cta">Abrir</a>
        </div>
        <div class="menu__element">
            <img src="../../assets/img/Comprar.svg" class="img__user">
            <p class="menu__name">Comprar</p>
            <a href="#" class="menu__cta">Abrir</a>
        </div>
    </div>
    </section>
</body>
</html>