<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/webfonts/fonts.css">
</head>
<body>
        <div class="table__menu">
            <div class="menu__element">
                <p class="menu__name">Usuario</p>
    
                
                <div class="menu__items">
                  
                </div>

                <a href="#" class="menu__cta">Mostrar</a>
            </div>
            

            <div class="menu__element">
                <p class="menu__name">Inventario</p>
                
                
                <div class="menu__items">
                  
                </div>

                <a href="#" class="menu__cta">Mostrar</a>
            </div>


            <div class="menu__element">
                <p class="menu__name">Estadisticas</p>
                
                <div class="menu__items">
                   
                </div>

                <a href="#" class="menu__cta">Mostrar</a>
            </div>

            
            <div class="menu__element">
                <p class="menu__name">Almacen</p>
                
                <div class="menu__items">
                   
                </div>

                <a href="#" class="menu__cta">Mostrar</a>
            </div>
        </div>
    </section>
</body>
</html>