<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/webfonts/fonts.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <title>Usuario</title>
</head>
<body>
    <div class="container__user__principal">
        <div class="container__users">
            <div class="">
                <img src="../../assets/img/users.svg" class="img__user">
                <a href="#" class="hero__cta">Registrar</a>
            </div>
            <div class="">
                <img src="../../assets/img/user_upadte.svg" class="img__user">
                <a href="#" class="hero__cta">Actualizar</a>
            </div>
            <div class="">
                <img src="../../assets/img/user_delete.svg" class="img__user">
            <a href="#" class="hero__cta">Eliminar</a>
            </div>
        </div>

        <section class="modal ">
            <div class="modal__container">
                <img src="../../assets/img/Developer.svg" class="modal__img">
                <h2 class="modal__title">Registrar Usuario</h2>
                <div class="div__container">
                    <label for="" class="modal__label">Nombre:
                        <input type="text" placeholder="Nombres" class="modal__input">
                    </label>
                    <label for="" class="modal__label">Apellidos:
                        <input type="text" placeholder="Apellidos" class="modal__input">
                    </label>
                    <label for="" class="modal__label">Correo:
                        <input type="text" placeholder="Correo" class="modal__input">
                    </label>
                    <label for="" class="modal__label">Telefeno:
                        <input type="text" placeholder="Telefono" class="modal__input">
                    </label>
                    <label for="" class="modal__label">Tipo de documento:
                        <select type="text" class="modal__select">
                            <option value="NIT">NIT</option>
                            <option value="C.C">CC</option>
                            <option value="TI">TI</option>
                            <option value="PAP">PAP</option>   
                        </select>
                    </label>
                    <label for="" class="modal__label">Genero:
                        <select type="text" class="modal__select">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="No definido">No definido</option>
                        </select>
                    </label> 
                </div>
                <a href="#" class="modal__close">Registrar</a>
            </div>
        </section>
    </div>
    <script src="../../assets/js/modal_usuario.js"></script>
</body>
</html>